---
import { getI18N } from '@/i18n';
const {currentLocale = "es"} = Astro
const i18n = getI18N({ currentLocale })
---

<section class="about container" id="about">
    <h1>{i18n.ABOUT_ME_NAME_SECTION}</h1>
    <div class="sub">
        <div class="info">
            <p set:html={i18n.ABOUT_ME_DESCRIPTION_1}></p>

            <p set:html={i18n.ABOUT_ME_DESCRIPTION_2}></p>
            

            <p set:html={i18n.ABOUT_ME_DESCRIPTION_3}></p>

            <p set:html={i18n.ABOUT_ME_DESCRIPTION_4}></p>

            <a class="CV" target="_blank" href="./CurriculumAGT.pdf">{i18n.CV_NAME_LINK}</a>
        </div>

        <form class="send" id="contact" action="https://formsubmit.co/3a515ec57a084cc4eb9e3e932e32f55a" method="POST">
            <h2>{i18n.CONTACT_LINK}</h2>

            <input class="input" type="text" name="name" placeholder={i18n.CONTACT_ME_PLACEHOLDER_NAME} required>
            <input class="input" type="email" name="email" placeholder={i18n.CONTACT_ME_PLACEHOLDER_EMAIL} required>
            <input class="input" type="text" name="subject" placeholder={i18n.CONTACT_ME_PLACEHOLDER_SUBJECT} required>

            <textarea class="textarea" cols="30" rows="10" placeholder={i18n.CONTACT_ME_PLACEHOLDER_MESSAGE} required></textarea>

            <input class="submit" value={i18n.CONTACT_ME_BUTTON} type="submit" >
 
            <input type="hidden" name="_next" value="https://portfolio-agt.vercel.app/">
            <input type="hidden" name="_captcha" value="false">
        </form>
    </div>
</section>

<style>

    .about{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        min-height: 100vh;
    }

    .about h1{
        font-family: var(--primaryFont);
        font-size: 5rem;

        animation: fade-in ease-in-out .3s both;
        animation-timeline: view();
        animation-range: entry 30% 40%;
    }

    @media (width <= 768px) {
        .about h1{
            font-size: 4rem;
        }
    }

    .sub{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        color: var(--white);

        animation: fade-in ease-in-out .3s both;
        animation-timeline: view();
        animation-range: entry 30% 40%;

        span{
            color: var(--secondary);
            font-weight: bold;
        }
    }

    .info p{
        max-width: 60ch;
    }

    .info 
    
    .CV{
        border-radius: 5px;
        padding: 10px 20px;
        color: var(--dark);
        background-color: var(--tertiary);

        transition: background-color .3s ease;

        &:hover{
            background-color: var(--secondary);
        }
    }
    .send{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        min-width: 900px;

        background-color: #ffffff20;
        backdrop-filter: blur(5px);
        border-radius: 5px;
        padding: 20px;

        box-shadow: 3px 3px 10px 3px #000;

        animation: fade-in ease-in-out .3s both;
        animation-timeline: view();
        animation-range: entry 30% 40%;
    }

    .send h2{
        font-family: var(--primaryFont);
        font-size: 3rem;
    }

    @media (width <= 1024px) {
        .send{
            min-width: 700px;
        }
    }
    @media (width <= 768px) {
        .send{
            min-width: 100%;
        }
    }
    
    .input, .textarea, .submit{
        padding: 10px 20px;
        background-color: transparent;
        backdrop-filter: blur(5px);

        width: 80%;

        color: var(--white);
        outline: none;
        border: 2px solid transparent;
        border-radius: 5px;

        font-size: 1rem;

        transition: border-color .3s ease;
    }

    .input:valid, .textarea:valid, .submit:valid{
        border-color: var(--tertiary);
    }

    .textarea {
        resize: vertical;
        max-height: 500px;
    }

    @media (width <= 768px) {
        .input, .textarea, .submit{
            background-color: #1e1e1ec0;
        }
    }

    .submit{
        border:none;
        background-color: var(--white);
        color: var(--dark);
        cursor: pointer;

        transition: ease .3s;
    }

    .submit:hover{
        background-color: var(--tertiary);
    }

</style>