---
import Arrow from "@/components/Arrow.astro";

import { getI18N } from '@/i18n';
const {currentLocale = "es"} = Astro
const i18n = getI18N({ currentLocale })
---

<header>
    <nav class="navigation">
        <a href="#projects">{i18n.PROJECT_NAME_SECTION}</a>
        <a href="#skills">{i18n.SKILLS_NAME_SECTION}</a>
        <a href="#about">{i18n.ABOUT_ME_NAME_SECTION}</a>
        <div class="languages">
            <button class="main-language" aria-expanded="true" aria-haspopup="true">
                <img src={i18n.FLAG} alt="flag image">
                {i18n.NAME}
                <i class="fa-solid fa-chevron-down"></i>
            </button>

            <ul>
                <li>
                    <a class="second-language" href=`${i18n.LANGUAGE_INVERSION}`>
                        <img src={i18n.FLAG_INVERSION} alt=`flag ${i18n.NAME_INVERSION}`>
                        {i18n.NAME_INVERSION}
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <a class="CV" target="_blank" href="./CurriculumAGT.pdf">{i18n.CV_NAME_LINK}</a>
    
</header>

<i class="responsive-icon fa-solid fa-bars"></i>
<i class="responsive-icon fa-solid fa-xmark"></i>

<Arrow/>

<style>
    header{
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        width: 100%;
        margin: 0 auto;
        padding: 20px;
        z-index: 999;

        animation: scroll-blur ease-in-out both;
        animation-timeline: scroll();
        animation-range: entry 50px cover 100px;
    }

    @media (width <= 768px) {
        header{
            display: none;
            inset: 0;
            flex-direction: column;

            background-color: #1e1e1ed8;
            backdrop-filter: blur(15px);

            animation: fade-left .3s ease-in-out both;

        }
    }

    @keyframes scroll-blur{
        from{
            backdrop-filter: none;
        }

        to{
            backdrop-filter: blur(15px);
            background-color: #0000003c;
        }
    }

    @keyframes fade-in-up{
        from{
            opacity: 0;
            transform: translateY(20px);
        }

        to{
            opacity: 1;
            transform: translateY(0);
        }
    }

    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navigation{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;

        animation: fade-in-up 0.5s ease-in-out forwards;

        
    }

    .navigation a{
        position: relative;
        color: var(--white);
        padding: 10px 20px;
        border-radius: 5px;

        transition: color ease .3s, background-color ease-in-out .3s;

    }
    .navigation a:hover{
        color: var(--dark);
        background-color: var(--white);
    }

    @media (width <= 768px) {
        .navigation{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            animation: fade-left .3s ease-in-out both;
            
        }
    }

    .responsive-icon{
        display: none;
        position: fixed;
        top: 10px;
        right: 0;

        background-color: var(--white);
        /* backdrop-filter: blur(15px); */

        padding: 10px;
        border-radius: 50% 0 0 50%;
        color: var(--dark);
        font-size: 2rem;

        z-index: 10000;
        cursor: pointer;

        animation: fade-left .3s ease-in-out both;
    }

    /* .responsive-icon i{
        display: none;
    } */

    @media (width <= 768px) {
        .responsive-icon{
            display: flex;
        }

        .fa-bars{
            display: block;
        }

        .fa-xmark{
            display: none;
        }
    }

    @keyframes fade-left{
        from{
            transform: translateX(20px);
            opacity: 0;
        }

        to{
            transform: translateX(0);
            opacity: 1;
        }
    }

    .languages{
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .languages ul{
        position: absolute;

        bottom: -50px;
        width: 100%;
        padding-top: 50px;

        display: none;
    }

    .languages:hover ul{
        display: block;
        z-index: -1;
    }


    .main-language, .second-language{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        gap: 5px;

        background-color: #ffffff20;
        backdrop-filter: blur(5px);

        padding: 10px 20px;
        border-radius: 5px;
        color: var(--white);

        font-size: 1rem;

        border: none;
        outline: none;
        cursor: pointer;

        transition: color ease .3s, background-color ease-in-out .3s;
    }

    .main-language img, .second-language img{
        max-width: 20px;
        height: auto;
        border-radius: 2px;
    }

    .main-language i, .second-language i{
        font-size: 10px;
    }

    .languages:hover .main-language{
        background-color: var(--white);
        color: var(--dark);
    }

    .languages:hover .fa-chevron-down{
        rotate: 180deg;
    }

    .fa-chevron-down{
        transition: rotate ease .3s;
    }

    .second-language{
        animation: fade-in-down .3s ease both;
    }

    @keyframes fade-in-down{
        from{
            opacity: 0;
            transform: translateY(-10px);
        }

        to{
            opacity: 1;
            transform: translateY(0);
        }
    }

    .CV{
        border-radius: 5px;
        padding: 10px 20px;
        color: var(--dark);
        background-color: var(--white);

        transition: background-color .3s ease;
        animation: fade-in-up 0.5s ease-in-out forwards;


        &:hover{
            background-color: var(--tertiary);
        }
    }

    @media (width <= 768px) {
        .CV{
            animation: fade-left .3s ease-in-out both;
        }
    }
</style>

<script>
    const bar = document.querySelector(".fa-bars") as HTMLElement;
    const header = document.querySelector("header") as HTMLElement;
    const x = document.querySelector(".fa-xmark") as HTMLElement;
    const body = document.querySelector("body") as HTMLElement;

    bar.addEventListener("click", function(){
        header.style.display = "flex";
        bar.style.display = "none";
        x.style.display = "block";
        body.classList.add("no-scroll");

    })

    x.addEventListener("click", function(){
        header.style.display = "none";
        bar.style.display = "block";
        x.style.display = "none";
        body.classList.remove("no-scroll")

    })



</script>