---
import { getI18N } from '@/i18n';
const {currentLocale = "es"} = Astro
const i18n = getI18N({ currentLocale })
---
<section class="container" id="projects">
    <h1>{i18n.PROJECT_NAME_SECTION}</h1>

    <div class="projects">
        <article class="project">
            <img src="./screenshot-nothing.png" alt="Nothing Project picture">
    
            <div class="info">
                <h1>{i18n.NOTHING_TITLE}</h1>
    
                <p>{i18n.NOTHING_DESCRIPTION}</p>
    
                <div class="technologies">
                    <span>Astro</span>
                    <span>HTML5</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                </div>
    
                <a target="_blank" href="https://nothing-phone-2.vercel.app/">{i18n.VISIT_WEBSITE}</a>
            </div>
        </article>
    
        <article class="project">
            <img src="./screenshot-irecipe.png" alt="iRecipe screenshot picture">
    
            <div class="info">
                <h1>{i18n.IRECIPE_TITLE}</h1>
    
                <p>{i18n.IRECIPE_DESCRIPTION}</p>
    
                <div class="technologies">
                    <span>HTML5</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>PHP</span>
                    <span>Laravel</span>
                </div>
    
                <a target="_blank" href="https://irecipe.000webhostapp.com/">{i18n.VISIT_WEBSITE}</a>
            </div>
        </article>
    
        <article class="project">
            <img src="./screenshot-weekly.png" alt="Weekly Gallery screenshot">
    
            <div class="info">
                <h1>{i18n.WEEKLY_GALLERY_TITLE}</h1>
    
                <p>{i18n.WEEKLY_DESCRIPTION}</p>
    
                <div class="technologies">
                    <span>HTML5</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                </div>
    
                <a target="_blank" href="https://tonips22.github.io/WeeklyGallery/">{i18n.VISIT_WEBSITE}</a>
            </div>
        </article>
    </div>
</section>
<style>

    section{
        margin-top: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        min-height: 100vh;

        h1{
            font-size: 5rem;
            font-family: var(--primaryFont);
            color: var(--white);
        }
    }
    .projects{
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(500px, 1fr)
        );
        gap: 20px;
    }

    @media (width <= 768px) {
        .projects{
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .project{
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        border-radius: 5px;

        overflow: hidden;

        img{
            width: 100%;
            object-fit: cover;
            border-radius: 5px;

            transition: scale .3s ease;
            z-index: -10;
            
        }

        &:hover{
            img{
                scale: 1.2;
            }

            .info{
                display: flex;
            }
        }
    }

    @media (width <= 768px) {
        .project{
            flex-direction: column;

            img{
                margin-bottom: 20px;
            }
        }
    }

    .info{
        position: absolute;
        inset: 0;
        
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        
        background-color: #1e1e1e80;
        backdrop-filter: blur(15px);

        gap: 2rem;
        padding: 2rem;

        animation: fade .3s ease both;

        h1{
            color: var(--primary);
            font-family: var(--primaryFont);
            font-size: 2rem;
            text-align: center;
        }

        a{
            padding: 10px 20px;
            border-radius: 5px;
            color: var(--dark);
            background-color: var(--white);

            transition: background-color ease .3s;
            width: 80%;
            text-align: center;
            margin: 0 auto;

            &:hover{
                background-color: var(--tertiary);
            }
        }
    }

    @keyframes fade {
        from{
            opacity: 0;
        }

        to{
            opacity: 1;
        }
    }

    .technologies{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;

        span{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2px;

            /* border: 1px solid var(--white); */
            color: var(--white);
            background: #1e1e1e20;
            background: -webkit-linear-gradient(135deg, #1e1e1e20 0%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 100%);
            background: linear-gradient(135deg, #1e1e1e20 0%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.13) 100%);
            
            padding: 5px 10px;
            border-radius: 5rem;

            font-size: 12px;

            cursor: default;
        }
    }
</style>

<script src="https://kit.fontawesome.com/ebd46689b1.js" crossorigin="anonymous"></script>